.col-lg-6
	= simple_form_for [:teacher, @course,  @schedule]  do |f|
		= f.error_notification
		.form-group
			.form-inputs
				=f.input :topic,:label=>"Topic",:placeholder=>"Schedule Topic",input_html:{:class=>'form-control'}
		.form-group
			.form-inputs.form-inline
				= f.label :startdate,"Start Date"
				= f.input :startdate, :placeholder => "YYYY-MM-DD", :input_html => {:class => "form-control dateField datepicker date-picker"}, :label => false,as: :string
		.form-group
			.form-inputs.form-inline
				= f.label :enddate,"End Date"
				= f.input :enddate, :placeholder => "YYYY-MM-DD", :input_html => {:class => "form-control dateField datepicker date-picker"}, :label => false,as: :string
		.form-group
			.form-inputs.form-inline
				= f.label :starttime,"Course Start Time"
				= f.input :starttime, :input_html => {:class => "form-control"}, :label => false,as: :time

		.form-group
			.form-inputs.form-inline
				= f.label :endtime,"Course End Time"
				= f.input :endtime, :input_html => {:class => "form-control"}, :label => false,as: :time

		.form-actions.profile-input
			= f.button :submit, "Submit",:class=>'btn btn-primary'
			= link_to "Cancel" ,teacher_course_schedules_path,:class=>'btn btn-primary'