/ Start menu
%section#mu-menu
  %nav.navbar.navbar-default{:role => "navigation"}
    .container
      .navbar-header
        / FOR MOBILE VIEW COLLAPSED BUTTON
        %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        / LOGO
        / TEXT BASED LOGO
        %a.navbar-brand{:href => "index.html"}
          %i.fa.fa-university
          %span AIME
      / IMG BASED LOGO
      / <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
      #navbar.navbar-collapse.collapse
        %ul#top-menu.nav.navbar-nav.navbar-right.main-nav
          %li
            = link_to 'Dashboard', guardian_dashboard_path
          %li
            = link_to 'My Kids', '#'
          %li
            = link_to 'Profile', guardian_profile_path
          %li
            = link_to 'Messages', guardian_conversations_path
          %li
            = link_to 'Logout', destroy_user_session_path, :method => :delete

