/ Start search box
#mu-search
  .mu-search-area
    %button.mu-search-close
      %span.fa.fa-close
    .container
      .row
        .col-md-12
          %form.mu-search-form
            %input{:placeholder => "Type Your Keyword(s)  Hit Enter", :type => "search"}

= render 'visitors/slider'
= render 'visitors/services'
= render 'visitors/about_us'
= render 'visitors/about_us_counter'
= render 'visitors/feature'