.col-sm-12.no-padding
  = simple_form_for(@user,:html =>{class:""}) do |f|
    = f.error_notification
    .form-group.half.second
      = f.input :first_name,:label=>"First Name",placeholder:"First Name*" ,:input_html=>{ :class=>'form-control' }
      %span{class:"fa-2x fa fa-user text-muted form-control-feedback"}

    .form-group.half
      = f.input :last_name,:label=>"Last Name",placeholder:"Last Name*" ,:input_html=>{ :class=>'form-control' }

    .form-group
      = f.input :email,:label=>'Email' ,placeholder:"Email*" ,:input_html=>{ :class=>'form-control' }

    .form-group.has-feedback
      = f.input :password,placeholder:"Password*" ,:input_html=>{ :class=>'form-control' }

    .form-group
      = f.input :password_confirmation,placeholder:"Confirm Password*" ,:input_html=>{ :class=>'form-control' }
    
    %ul{class:"radio"}
      %li{class:"list-radio"}        
        =f.radio_button :type,"Teacher",:checked => true
        =f.label :type, "Teacher", :value => "Teacher"
        .check
          
      %li{class:"list-radio"}
        =f.radio_button :type,"Student",:checked => false
        =f.label :type, "Student", :value => "Student"
        .check
          .inside

      %li{class:"list-radio"}        
        =f.radio_button :type,"Parent",:checked => false
        =f.label :type, "Parent", :value => "Parent"
        .check
          .inside

    .form-actions
      = f.button :submit, "Get Start",:class=>'btn btn-default color'