.container
	.row
		.col-lg-12
			%h2{:class=>'page-header'} Courses
		= link_to "Add Course" ,new_teacher_course_path,:class=>'btn btn-primary'
		.col-lg-12.page-header
			.col-md-6
				%strong Course Name
			.col-md-6
				%strong Action

		- @course.each do |course|	
			.row
				.col-md-6.m-t-10
					= course.name
				.col-md-6.m-t-10
					= link_to "Edit | " ,edit_teacher_course_path(course)
					%nbsp 
					= link_to "Add Schedule | " , new_teacher_schedule_path(:course_id=>course.id)
					%nbsp |
					= link_to "View Schedule" , teacher_schedules_path(:course_id=>course.id)