%section#mu-gallery
  .container
    .row
      .col-md-9
        = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form',:class=>""}) do |f|
          = devise_error_messages!

          .form-group
            = f.label :email,"Email:"
            = f.email_field :email, :autofocus => true, class: 'form-control',placeholder:"Enter email*"

          .form-group.has-feedback
            = f.label :password,"Password:"
            = f.password_field :password, class: 'form-control',:placeholder=>"Enter password*"

          .form-group.has-feedback

            =f.radio_button :type,"teacher",:checked => true
            =f.label :type, "Teacher", :value => "teacher"

            =f.radio_button :type,"student",:checked => false
            =f.label :type, "Student", :value => "student"

            =f.radio_button :type,"parent",:checked => false
            =f.label :type, "Parent", :value => "parent"

          = f.button 'Log in', :class => 'mu-post-btn'

