.footer
  %ul.foot
    %li= link_to "ABOUT", pages_about_path
    %li= link_to "CONTACT", pages_contact_path
    %li= link_to "CAREERS", pages_careers_path
    %li= link_to "VIDEOS", pages_videos_path
    %li
      %a.aimse{:href=>"#"}A.I.M.E SAYS
  %p
    Login as
    = link_to 'Student', student_dashboard_path
    |
    = link_to 'Teacher', teacher_dashboard_path
