!!!
%html
  %head

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Aime'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'AIME'}"}


    = stylesheet_link_tag 'application', media: 'all'
    = favicon_link_tag 'favicon.ico'

    = csrf_meta_tags
    = yield :custom_heads
  %body
    .container
      .masthead
        = render 'layouts/teacher_header'
        %div= link_to image_tag( 'logo.png', width: 150), root_path
      .body-wrapper
        = yield
      = render 'layouts/footer'
    = javascript_include_tag 'application'
    = yield :custom_javascripts
