!!!
%html
  %head

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Aime'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'AIME'}"}


    = stylesheet_link_tag 'application', media: 'all'
    = favicon_link_tag 'favicon.ico'

    = csrf_meta_tags
    = yield :custom_heads
  %body{style:"background-color:grey;"}
    .clearfix{style:"background-color:grey;"}
      .container{style:"background-color: black;color: white;" }
        .navigation.clearfix
          .col-lg-2.col-sm-2.col-xs-2.col-md-2.pull-left
            = link_to image_tag( 'logo.png') , root_path
          .col-lg-5.offset-lg-4.col-sm-5.offset-sm-4.col-xs-5.offset-xs-4.col-md-5.offset-xm-4.border.pull-right
            = render 'layouts/teacher_header'
        .body-wrapper
          = render 'layouts/messages'
          = yield
        = render 'layouts/footer'
    = javascript_include_tag 'application'
    = yield :custom_javascripts
